* {
    margin: 0;
    padding: 0;
    
}

body {
    font-family: arial, sans-serif;
    background-color: #f4f4f4;

}

header {
    background-color: #3378ad;
    color: white;
    text-align: center;
    padding: 1em;
}

.img-perfil {
    border-radius: 50% !important;
    width: 30% !important;
}

footer {
    background-color: #3378ad;
    color: white;
    text-align: center;
    padding: 10px;
}

a {
    text-decoration: none;
    color: black;
}

.principal {
    text-align: center !important;
    margin-left: 25% !important;
    margin-right: 25% !important;
    margin-top: 1% !important;
    margin-bottom: 15% !important;
}

.conteudo {
    text-align: center;
    background-color: #1f547e !important;
    color: white;
    padding: 2em !important;
    margin-top: 1em !important;
    border-radius: 1em !important;
    width: 100% !important;
}

.img-icone {
    width: 50% !important;
}

.txt-icone {
    font-size: 250% !important;
}

@media screen and (max-width: 768px) {
    .img-icone {
        width: 300% !important;
    }

    .txt-icone {
        font-size: 130% !important;
    }

    .conteudo {
        text-align: center;
        background-color: #1f547e !important;
        color: white;
        padding: 1em !important;
        margin-top: 2em !important;
        border-radius: 1em !important;
        width: 130% !important;
    }

    .principal {
        text-align: center;
        margin-left: 10% !important;
        margin-right: 25% !important;
        margin-top: 1% !important;
        margin-bottom: 50% !important;
    }

    .img-perfil {
        border-radius: 60% !important;
        width: 20% !important;
    }

}

@media (min-width:768px) and (max-width: 1024px) {
    .img-icone {
        width: 100% !important;
    }

}